<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CodeCrunch</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/made-soulmaze" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="static/Style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="light-theme">


<link rel="stylesheet" href="static/Style.css">

<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='images/Logo.svg') }}" class="image navbar-brand", alt="Logo" />
                <h1 class="logotexto inline">Code</h1>
                <h1 class="logotexts inline">Crunch</h1>
            </a>
            <script>
                const appearance = (element, timeout) => { // убрал неиспользуемый параметр display
                    element.style.opacity = '0';
                    element.style.transition = `opacity ${timeout}s`; // исправил на шаблонную строку с обратными кавычками
                    setTimeout(() => {
                        element.style.opacity = '1';
                    }, 10);
                }
                const brand1 = document.querySelector('.navbar-brand');
                appearance(brand1, 2);
                const brand2 = document.querySelector('.logotexto');
                appearance(brand2, 2);
                const brand3 = document.querySelector('.logotexts');
                appearance(brand3, 2);
            </script>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link" href="/tests">Тесты<span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="/about">О нас</a>
                    {% if not is_authenticated %}
                    <a class="nav-link" href="/register">Зарегистрироваться</a>
                    <a class="nav-link" href="/login">Войти</a>
                    {% else %}
                    <a class="nav-link" href="/profile">Профиль</a>
                    {% endif %}
                    <button id="theme-toggler" class="nav-link btn btn-link" aria-label="Переключить тему" style="margin-top: auto; margin-bottom: auto;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="icon-moon" viewBox="0 0 16 16" style="vertical-align: middle;">
                            <path d="M16 8a8 8 0 1 1-11.314-5.874 7.97 7.97 0 0 1 4.72 4.721A7 7 0 0 0 16 8z"/>
                        </svg>
                    </button>
                </div>

            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document", id="register">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2" style="font-size: 1.5rem;">Зарегистрируйтесь</h1>
                </div>

            <script>
            $(document).ready(function() {
                var $image_crop = $('#image-demo').croppie({
                    enableExif: true,
                    viewport: {
                        width: 200,
                        height: 200,
                        type: 'circle'
                    },
                    boundary: {
                        width: 300,
                        height: 300
                    }
                });

                $('#avatar').on('change', function() {
                    var reader = new FileReader();
                    reader.onload = function(event) {
                        $image_crop.croppie('bind', {
                            url: event.target.result
                        }).then(function() {
                            console.log('jQuery bind complete');
                        });
                    }
                    reader.readAsDataURL(this.files[0]);
                    $('#cropImageModal').modal('show');
                });

                $('#cropImageBtn').click(function(event) {
                    $image_crop.croppie('result', {
                        type: 'canvas',
                        size: 'viewport'
                    }).then(function(response) {
                        // Сохраняем обрезанное изображение в скрытое поле формы
                        $('#avatarBase64').val(response);
                        // Закрываем модальное окно после сохранения обрезанного изображения
                        $('#cropImageModal').modal('hide');
                    });
                });
            });
            </script>

                <div class="modal-body p-5 pt-0">
                    <form method="post" action="/register" enctype="multipart/form-data">
                        <input type="text" name="nickname" placeholder="Nickname" required class="form-control rounded-3" id="floatingInput2"><br>
                        <input type="email" name="email" placeholder="Email" required class="form-control rounded-3" id="floatingInput"><br>
                        <input class="form-control rounded-3" type="password" name="password" id="pass" placeholder="Password" required><br>
                        <input class="form-control rounded-3" type="password" name="confirm_password" id="repeat" placeholder="Confirm Password" required><br>
                        <input type="file" class="form-control" id="avatar" name="avatar" accept="image/*" hidden>
                        <!-- Скрытое текстовое поле для хранения данных обрезанного изображения -->
                        <input type="hidden" id="avatarBase64" name="avatarBase64">
                        <button type="button" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" onclick="document.getElementById('avatar').click()">Загрузить аватар</button>
                        <div id="cropImageModal" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Обрезать аватар</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="image-demo"></div> <!-- Контейнер для Croppie -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="cropImageBtn" class="btn btn-primary">Применить</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p id="valid2"></p>
                        <p id="valid"></p>
                        <input class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit", id="regbut", value="Register">
                    </form>
                </div>
                </div>




                {% with messages = get_flashed_messages() %}
                   {% if messages %}
                      {% for message in messages %}
                         {{ message }}
                      {% endfor %}
                   {% endif %}
                {% endwith %}

            </form>
            </div>


        </div>
    </div>
    </div>
</div>

<footer>
    <div class="container">
        <hr class="custom-hr">
        <span>&copy; 2024 NExt team. <a href="https://github.com/vzgr/CodeQZ"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png", class="githublogo"></a></span>
    </div>
</footer>


<script>
document.getElementById('file-upload').addEventListener('change', function() {
    var input = this;
    var filenameDisplay = document.getElementById('file-upload-filename');
    filenameDisplay.value = input.files && input.files.length > 0 ? input.files[0].name : 'Выберите аватар';
});
</script>
<script>
  let valid = document.getElementById("valid");
  let pass = document.getElementById("pass");
  let regbut = document.getElementById("regbut");
  let repeat = document.getElementById("repeat");
  let nickname = document.getElementById("floatingInput2"); // Получаем доступ к полю с никнеймом

  regbut.setAttribute("disabled", "yes");

  // Проверка поля никнейм на изменение
  nickname.addEventListener("input", (e) => {
    if (!nickname.value) { // Если поле пустое
      valid.innerHTML = "<span style=\"color:red;\">Введите никнейм.</span>";
      regbut.setAttribute("disabled", "yes");
    } else { // Если в поле что-то есть
      valid.innerHTML = "<span style=\"color:green;\">Отличный никнейм!</span>";
      // Проверяем, удовлетворяют ли пароли условиям, и применяем соответствующее действие
      if (pass.value.length >= 8 && pass.value == repeat.value) {
        regbut.removeAttribute("disabled");
      }
    }
  });

  pass.addEventListener("input", (e) => {
    if (pass.value.length < 8) {
      valid.innerHTML = "<span style=\"color:red;\">Длина пароля должна составлять хотя бы 8 символов</span>";
      regbut.setAttribute("disabled", "yes");
    } else if (pass.value == repeat.value && nickname.value) {
      valid.innerHTML = "<span style=\"color:green;\">Пароль подходит</span>";
      regbut.removeAttribute("disabled");
    } else {
      valid.innerHTML = "";
    }
  });

  repeat.addEventListener("input", (e) => {
    if (pass.value != repeat.value) {
      valid.innerHTML = "<span style=\"color:red;\">Пароли не совпадают</span>";
      regbut.setAttribute("disabled", "yes");
    } else if (pass.value.length >= 8 && nickname.value) {
      valid.innerHTML = "<span style=\"color:green;\">Пароль подходит</span>";
      regbut.removeAttribute("disabled");
    } else {
      valid.innerHTML = "";
    }
  });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
<script src="static/JS/theme-switcher.js"></script>
<!-- Включите здесь скрипт, который обрабатывает выбор, обрезку и отправку изображения -->
</body>
</html>
